<section id="RSHome">
    <header>
        <h1>Welcome {{rsOwner.name}} To Your CPAP Equipment</h1>
    </header>
    <!-- Introduce RS to UMA AS (get a PAT) -->
    <button ng-click="protectResources()">Protect Your CPAP Reports with UMA</button>
    <div ng-show="show">
        <!-- If the clicked protect a link should be here that is the redirect uri to the AS to manage perms -->
        You are now protected with UMA. To view and control your permissions click here:
    </div>
    </br></br>
    <!-- Just fluff -->
    <button ng-click="viewReports()">View and Manage Your CPAP Reports</button>
    </br></br>
    <button ng-click="returnHome()">Return Home</button>
    </br></br>
</section>