<section id="testRSRegSection">
    <header>
        <h1>Resource Set Registration</h1>
        <h2>Three pretend unprotected resource sets will be cycled through resource set registration CRUD with an authorization server</h2>
        <section>
            <h3>Resources</h3>
            <ul>
                <li ng-repeat="resource in testResources track by $index">{{resource}}</li>
            </ul>
        </section>
    </header>
    <section>
        <h3>CREATE - Should display the rsid for each created resource</h3>
        <p id="testCreateSection" ng-repeat="result in createdResults track by $index">
            {{result}}
        </p>
        <h3>READ - Should display the resource sets registered</h3>
        <p id="testReadAfterCreateSection" ng-repeat="result in readCreatedResults track by $index">
            {{result}}
        </p>
        <h3>LIST - Should display a list of rsids for the previously registered resources</h3>
        <p id="testListAfterCreateSection" ng-repeat="result in listCreatedResult track by $index">
            {{result}}
        </p>
        <h3>UPDATE - Should display the rsid for the updated resource</h3>
        <p id="testUpdateSection" ng-repeat="result in updateResult track by $index">
            {{result}}
        </p>
        <h3>READ - Should now display the updated resource 'type' as 'changingTypeForTest'</h3>
        <p id="testReadAfterUpdateSection" ng-repeat="result in readUpdateResult track by $index">
            {{result}}
        </p>
        <h3>DELETE - Should display No Content</h3>
        <p id="testDeleteSection" ng-repeat="result in deleteResult track by $index">
            {{result}}
        </p>
        <h3>LIST - The displayed rsids should no longer included the deleted one</h3>
        <p id="testListAfterDeleteSection" ng-repeat="result in listAfterDeleteResult track by $index">
            {{result}}
        </p>
    </section>
    <footer>
        <i ng-click="return()" class="icon material-icons">subdirectory_arrow_left</i>
    </footer>
</section>