<section id="home">
    <header>
        <h1>Welcome to UMA Resource Server activities performed with JavaScript (Node and AngularJS)</h1>
    </header>
    <!-- Go the the resource server example -->
    <button ng-click="navigateToExampleRS()">View an example Resource Server</button>
    </br></br>
    <!-- 'Test' page to show UMA interactions -->
    <button ng-click="navigateToTests()">Navigate to a test page to perform UMA related tests</button>
    </br></br>
    <!-- To contribute and access the code -->
    <!-- Link to gitHub -->
</section>