<section id="tests">
    <!--<header>-->
        <!--<h1>Below are the different UMA interactions to be performed</h1>-->
    <!--</header>-->
    <section>
        <header>
            <h1>Things you can do</h1>
        </header>
        <Section>
            <ul>
                <li>
                    <!-- run operations to show resource set registration functionality -->
                    <a ng-click="testResourceReg()">Run a cycle that includes all Resource Set Registration operations</a>
                </li>
            </ul>
        </Section>
        <footer>
            <i ng-click="returnHome()" class="icon material-icons">home</i>
        </footer>
    </section>
</section>