<section>
    <div>
        <!-- Just to test two-way binding and that REST calls are working the way I think -->
        <div>Resource Server REST TEST: {{testDisplay}}</div>
        <br>

        <div id="testSuccessDiv">
            <div>
                <button id="testSuccessBtn" ng-click="getSuccessTest()">Test GET method with success</button>
            </div>
            <div>Success: {{success}}</div>
        </div>
        <br>

        <div id="testErrorDiv">
            <div>
                <button id="testErrorBtn" ng-click="getErrorTest()">Test GET method with error</button>
            </div>
            <div>Error: {{error}}</div>
        </div>
    </div>
</section>